.btn-alice {
  color: #212529;
  background-color: #f2c063;
  border-color: #f2c063;
  font-weight: bold;
}

.btn-jan {
  color: #fff;
  background-color: #04adbf;
  border-color: #04adbf;
  font-weight: bold;
}
